<div id='ovto-app'></div>
<div id='ovtoshow-slides' style='display: none'><%= @slides.to_json %></div>

<%= opal_tag do %>
  app = OvtoApp.instance
  app.run(id: 'ovto-app')
  app.actions.set_mode(mode: '<%= action_name %>')
  # Does not work(why?)
  # app.actions.set_slides(slides: `<%== @slides.to_json %>`))
  %x{
    var json = document.querySelector('#ovtoshow-slides').textContent;
    window.Opal.OvtoApp.slides = JSON.parse(json);
  }
  # app.actions.set_slides(slides: `JSON.parse(json)`)
<% end %>
