code {
  font-family: Monaco, monospace;
}

.presenter-note {
  border: 1px dashed gray;
  height: auto !important;
}

.SlideContent {
  left: 0;
  top: 0;

  font-family: 'Roboto', sans-serif;

  img { height: 100vh; }

  font-size: 300%;
  margin: 1em;
}
